# Ambiente virtual
# uso de / no final significa Ignore uma pasta chamada venv.

venv/
.venv/

# Arquivos de ambiente
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

#informacoes da nossa evolucao
# quando escrevemos apenas o nome, significa, ignore um arquivo chamado exatamente DESENVOLVIMENTO.md.
DESENVOLVIMENTO.md

# Banco de dados SQLite
# uso de * é para ignora qualquer sequencia de caracteres .db or .sqlite3
*.db
*.sqlite3

# Pasta instance do Flask (contém database.db)
instance/

# Uploads (opcional, se não quiser enviar imagens de teste)
# static/uploads/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos do VS Code (opcional)
.vscode/

# Arquivos temporários
*.log
*.tmp
