{% extends "base.html" %}

{% block base %}

<div>
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-12 d-flex justify-content-end flex-wrap align-items-center">
                <a href="{{ url_for('meus_pedidos') }}" class="btn btn-info" style="margin: 4px;">Ver meus pedidos</a>
                <a href="{{ url_for('index') }}" class="btn btn-info" style="margin: 4px;">Início</a>
            </div>
        </div>
    </div>
    <h4>Histórico:</h4>
    
    {% if pedidos %}
        {% for pedido in pedidos %}
            <p><strong>Pedido:</strong> {{ pedido.id }}</p>
            <p><strong>Data:</strong> {{ pedido.data_recebido.strftime('%d/%m/%Y %H:%M') }}</p>
            <p><strong>Status:</strong> {{ pedido.status }}</p>
    
            <p><strong>Itens:</strong></p>
            {% for item in pedido.itens%}
                <p>{{item["name"]}}</p>
            {%endfor%}
            <p><strong>Subtotal:</strong> {{ pedido.subtotal}}</p>
            <p><strong>Taxa de entrega:</strong> {{ pedido.taxa_entrega }}</p>
            <p><strong>Total:</strong> R$ {{ pedido.total }}</p>
    
        {% endfor %}
    {% else %}
        <p>Você ainda não realizou nenhum pedido.</p>
    {% endif %}
</div>

{% endblock %}




