<form id="formPedido" method="POST">
    <button type="submit" id="btnEnviar">Enviar Pedido</button>
</form>

<p id="mensagem" style="display:none;">Enviando pedido, aguarde...</p>

<script>
document.getElementById("pedido").addEventListener("submit", function() {
    document.getElementById("btnenviar").disabled = true;
    document.getElementById("mensagem").style.display = "block";
});
</script>

Confesso que estudei pouco sobre PHP. Recentemente aprendi usar pandas openpyxl.
import pandas as pd

tabela=pd.read_csv["Nome do arquivo desejado"], aqui, logo após pd.read_existe varias leituras, sendo html;
SQL, CSV etc.

<button id="mudacor">Enviar</button>

<script>
const botao = document.getElementById("mudacor");

const cores = ["red", "green", "blue", "vermelho"];
let indice = 0;

botao.addEventListener("click", () => {
    indice = (indice + 1) % cores.length;
    botao.style.backgroundColor = cores[indice];
});
</script>


quantidadetotal = 0

for numero in numeros.values():
    quantidadetotal += produto["quantidade"]

print("Quantidade total:", quantidadetotal)

    for n in lista:
        if n > maior1:
            maior3 = maior2
            maior2 = maior1
            maior1 = n
        elif n > maior2:
            maior3 = maior2
            maior2 = n
        elif n > maior3:
            maior3 = n

    return [maior1, maior2, maior3]


    class caixa:
    def __init__(self):
        self.saldo = 0

    def depositar(self, valor):
        self.saldo += valor
        print("Depósito realizado!")

    def sacar(self, valor):
        if valor > self.saldo:
            print("Saldo insuficiente!")
        else:
            self.saldo -= valor
            print("Saque realizado!")

    def mostrar_saldo(self):
        print("Saldo atual:", self.saldo)


Recentemente aprende com plotly import  plotly.express as px que seria graficos mais visuais;


for coluna in tabela.columns
    grafíco = px.histrogram(tabela, x="Cancelou"), o eixo y, por padrao já vem comparado, precisamos apenas
    colocar o que queremos no eixo x.
    
    grafíco.show()


    1234|3412|2341|4123

numero = int(input("Digite um número: "))

if numero % 2 == 0:
    print("O número é par")
else:
    print("O número é ímpar")