{% extends 'base.html' %}
{% block base %}
    <div>
      <!-- {%include 'inicio.html'%} -->
      <script src="{{url_for('static', filename='js/busca_cep.js')}}"></script>
    </div>
<!-- {% include 'back_inicio_cadastro.html' %} -->
<div class="container mt-5" style="max-width: 500px;">
  <h3>Atualizar Cadastro</h3>
  <form method="POST" class="row mt-4">
    {{ form.hidden_tag() }}

    <div class="col-md-6 mb-4">
      {{ form.nome.label(class="form-label") }}
      {{ form.nome(class="form-control") }}
    </div>

    <div class="col-md-6 mb-4">
      {{ form.sobrenome.label(class="form-label") }}
      {{ form.sobrenome(class="form-control") }}
    </div>

    <div class="col-md-6 mb-4">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>
     <!-- .... o erro estã aqui..... -->
      <div class="col-md-6 mb-4">
        {{form.cep.label(class="form-label")}}
        {{form.cep(class="form-control", id="cep")}}
      </div>
      <div>
         <button type="button" onclick="buscarCep()" class="btn btn-outline-info">Buscar Cep</button>
      </div>
      <div class="col-md-6 mb-4">
        {{form.rua.label(class="form-label")}}
        {{form.rua(class="form-control", id="rua")}}
      </div>
      <div class="col-md-6 mb-4">
        {{form.bairro.label(class="form-label")}}
        {{form.bairro(class="form-control", id="bairro")}}
      </div>
      <div class="col-md-6 mb-4">
        {{form.cidade.label(class="form-label")}}
        {{form.cidade(class="form-control", id="cidade")}}
      </div>
      <div class="col-md-6 mb-4">
        {{form.estado.label(class="form-label")}}
        {{form.estado(class="form-control", id="estado")}}
      </div>
    <div class="col-md-6 mb-4">
      {{form.complemento.label(class="form-label")}}
      {{form.complemento(class="form-control")}}
    </div>

    <div class="col-md-6 mb-4">
      {{form.celular.label(class="form-label")}}
      {{form.celular(class="form-control")}}
    </div>

    <div class="col-md-6 mb-4">
      {{ form.senha.label(class="form-label") }}
      {{ form.senha(class="form-control", placeholder="Deixe em branco para não alterar") }}
    </div>

    <div class="col-md-6 mb-4">
      {{ form.confirmar_senha.label(class="form-label") }}
      {{ form.confirmar_senha(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    <a href="{{url_for('index')}}" class="btn btn-primary w-100 mt-3">Voltar</a>

  </form>
</div>
{% endblock %}
